# Dependencies

/node_modules

# Logs

*.log

# Environment

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Deployment

/build
/migrations

# Temporary files

/tmp

# Miscellaneous

.DS_Store
